DATABASE_URL=postgresql://postgres:rbnessxopefhoqjugqxf@db.rbnessxopefhoqjugqxf.supabase.co:5432/postgres
VITE_SUPABASE_URL=https://rbnessxopefhoqjugqxf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJibmVzc3hvcGVmaG9xanVncXhmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyNTEyMjIsImV4cCI6MjA4NzgyNzIyMn0.Y_WhbLLnfXtDeAsbgUDgcb0jQJ1pzxuZ7qx7o8zUxXo
